@use 'scss/variables';

.container {
  background-color: var(--dept-black);
  padding: 0 4rem;
  height: 17.75rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  @media screen and (max-width: variables.$tabletLandscape) {
    height: 26rem;
  }
}