@use 'scss/variables';

.hero {
    background-image: linear-gradient(rgba(0,0,0,0.33), rgba(0,0,0,0)), url("../../assets/hero.png");
    width: auto;
    height: 628px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding: 0 4rem;
    margin-top: var(--dept-header-height);
  @media screen and (max-width: variables.$tabletLandscape) {
    margin-top: var(--dept-header-min-height);
  }
  @media screen and (max-width: variables.$mobile) {
    padding: 0 1rem;
    height: 415px;
  }
}

.heroText {
  position: absolute;
  bottom: 5.1875rem;
  max-width: 36.8125rem;
  @media screen and (max-width: variables.$mobile) {
    bottom: 1.375rem;
  }
}