.navigation {
  display: grid;
  grid-auto-flow: column;
  column-gap: 3rem;
  margin-left: 6rem;
  &.open {
    grid-auto-flow: row;
  }
}

.item {
  color: var(--dept-white);
  text-transform: uppercase;
}