@use 'scss/variables';

.filters {
  padding: 2rem;
  display: flex;
  justify-content: space-between;
    @media screen and (max-width: variables.$tabletLandscape) {
      background-color: var(--dept-black);
      flex-direction: row-reverse;
    }
  }

.sectionClientCard {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  &.noRows {
    grid-template-rows: none;
  }
  @media screen and (max-width: variables.$mobile) {
    grid-template-columns: 1fr
  }
}

.sectionClientNotes {
  display: grid;
  grid-template-columns: 2fr 1fr;
  &.reverse {
    grid-template-columns: 1fr 2fr;
    @media screen and (max-width: variables.$tabletLandscape) {
      grid-template-columns: 1fr
    }
  }
  @media screen and (max-width: variables.$tabletLandscape) {
    grid-template-columns: 1fr
  }
}