@use 'scss/variables';

.headerContainer {
  position: fixed;
  top: 0;
  background-color: var(--dept-black);
  height: var(--dept-header-height);
  width: 100%;
  z-index: 1000;
  padding: 0 3.5rem;
  transition: height .3s ease-in-out;
  &.open {
    position: fixed;
    height: 100vh;
    width: 100vw;
    overflow-y: auto;
    padding-bottom: 1rem;
  }
  @media screen and (max-width: variables.$tabletLandscape) {
    background-color: var(--dept-white);
    height: var(--dept-header-min-height);
    &.open {
      background-color: var(--dept-black);
    }
  }
  @media screen and (max-width: variables.$mobile) {
    padding: 0 1.5rem;
  }
}

.header {
  height: var(--dept-header-height);
  background-color: inherit;
  display: grid;
  grid-template-columns: 1fr 1fr 2.5rem;
  grid-template-areas: "logo navigation menu";
  grid-column-gap: 6rem;
  align-items: center;
  @media screen and (max-width: variables.$tabletLandscape) {
    height: var(--dept-header-min-height);
    grid-template-columns: 1fr 1fr;
  }
}

.logo {
  grid-area: logo;
  @media screen and (max-width: variables.$tabletLandscape) {
    max-width: 3.3rem;
  }
}

.menuToggle {
  grid-area: menu;
  color: var(--dept-white);
  justify-self: end;
  cursor: pointer;
  margin-top: -4px;
  &:hover {
    .dot {
      box-shadow: 1px 1px 10px -1px rgba(255,255,255,0.79);
      &.middle {
        margin: 0 .35rem;
      }
    }
  }
  &.open {
    position: relative;
  }
}

.dot {
  border-radius: 100%;
  width: .5rem;
  height: .5rem;
  background-color: var(--dept-white);
  display: inline-block;
  transition: all .3s ease-in-out;
  &.middle {
    margin: 0 .25rem;
  }
}

.crossLineContainer {
  width: 1.046rem;
  height: 1.046rem;
}

.crossLine {
  height: .125rem;
  width: 1.3rem;
  position: absolute;
  top: .4rem;
  display: inline-block;
  background-color: var(--dept-white);
  transition: all .3s ease-in;
  &.left {
    transform: rotate(45deg);
  }
  &.right {
    transform: rotate(-45deg);
  }
}

.language {
  position: absolute;
  color: var(--dept-white);
  background-color: var(--dept-black);
  top: var(--dept-header-height);
  z-index: 1001;
  cursor: pointer;
  @media screen and (max-width: variables.$tabletLandscape) {
    top: var(--dept-header-min-height);
  }
}

.languageItem {
  position: relative;
  &.active {
    padding-left: 1.2rem;
    &:before {
      content: "";
      display: block;
      width: 0;
      height: 0;
      border-style: solid;
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      border-width: .3rem 0 .3rem .6rem;
      border-color: transparent transparent transparent var(--dept-white);
    }
  }
}


