@use 'scss/variables';

.footer {
  display: grid;
  grid-template-columns: 1fr auto;
  @media screen and (max-width: variables.$tabletLandscape) {
    position: relative;
  }

}
.footerContent {
  background-color: var(--dept-black);
  padding: 7.76rem 3.14rem;
  @media screen and (max-width: variables.$tabletLandscape) {
    padding: 2.25rem 2.8rem;
  }
}

.logo {
  margin-right: 7.4rem;
}

.menu {
  display: flex;
  align-items: flex-end;
  padding-bottom: 3.75rem;
  margin-bottom: 2.8rem;
  border-bottom: 1px solid var(--dept-dark-grey);
}

.info {
  display: flex;
  @media screen and (max-width: variables.$tablet) {
    flex-direction: column;
  }
}

.scrollTop {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 7.3rem;
  cursor: pointer;
  &:hover {
    animation: shaking 1s infinite;
  }
  @media screen and (max-width: variables.$tabletLandscape) {
    position: absolute;
    top: 1rem;
    right: 0;
  }
}

@keyframes shaking {
  0% { transform: translateY(0) }
  25% { transform: translateY(5px) }
  50% { transform: translateY(-5px) }
  75% { transform: translateY(5px) }
  100% { transform: translateY(0) }
}